asgiref==3.7.2
autopep8==2.0.4
black==23.10.0
click==8.1.7
colorama==0.4.6
Django==4.1.7
django-filter==23.3
djangorestframework==3.14.0
gunicorn==19.9.0
Markdown==3.5
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
Pillow==10.1.0
platformdirs==3.11.0
pycodestyle==2.11.1
Pygments==2.16.1
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
